.app-container {
  max-width: 480px;
  margin: 0 auto;
  border: 1px solid black;
}

.input-box {
  width: 400px;
}

.hover-p {
  color: #000;
  display: inline-block;
  margin: 0;
}

.genderBtn {
  background-color: white;
  color: black;
  border: 1px solid #929292;
}

.genderBtn.active {
  background-color: #929292;
  color: white;
}