.box1 {
    border-color: rgb(235, 235, 235);
}

.box1 div {
    height: 191px;
    width: 167px;
}

.box1 img {
    inset: 0;
    color: transparent;
    object-fit: cover;
    border-radius: 12px;
}

.filled-star {
    color : gold;
}