/* 손님 페이지 기본 사이즈  */
.app-container {
    max-width: 480px;
    margin: 0 auto;
    border: 0px solid black !important;

}

/* 전체 스타일 적용*/
ul {
    padding: 0;
}
li {
    list-style: none;
}
section {
    padding: 20px 0;
    text-align: left;
}

/* 상세페이지 버튼 스타일 */
.common-btn {
    width: 100%;
    background: #FFA31C;
    padding: 15px 0;
    color: #ffffff;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    border: 0 solid black;
}

.prev-btn, .next-btn {
    border: none;
    background: none;
}
.waiting-title {
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-bottom: 60px;
}
.waiting-title-sub {
    font-size: 20px;
    font-weight: bold;
}
.point-font {
    font-size: 35px;
    font-weight: bold;
    color: #FFA31C;
}
.basic-font {
    color: #5D4037;
}


