/* 손님 페이지 기본 사이즈  */
.app-container {
    max-width: 480px;
    margin: 0 auto;
    border: 0px solid black !important;

}

/* 전체 스타일 적용*/
ul {
    padding: 0;
}
li {
    list-style: none;
}
section {
    padding: 20px 0;
    text-align: left;
}

/* 상세페이지 버튼 스타일 */
.common-btn {
    width: 100%;
    background:  #FFD700;
    padding: 15px 0;
    color: #5D4037;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    border: 0 solid black;
}
.web-main-btn {
    background:#FFF8E1;
    border:none;
    color:#5d4037;
    border-radius: 5px;
    padding: 15px 60px;
    font-weight: bold;
}
.prev-btn, .next-btn {
    border: none;
    background: none;
}
.waiting-title {
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    color: #5D4037;
    margin-bottom: 60px;
}
.waiting-title-sub {
    color: #5D4037;
    font-size: 18px;
    font-weight: bold;
}
.point-font {
    font-size: 35px;
    font-weight: bold;
    color:  #FFD727;
}
.basic-font {
    color: #5D4037;
}



/************ 데이트 피커 적용 ***************/

/* 컨테이너 정렬 */
.datepicker-container {
    width:70% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px !important;
}

.react-datepicker {
    color: #ffffff !important;
}

/* 입력 필드 스타일 */
.custom-input {
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 200px;
    transition: border-color 0.2s;
}

.custom-input:focus {
    border-color: #FFD700 !important;
    outline: none;
}

/* 데이트피커 팝업 스타일 */

.react-datepicker {
    font-family: 'Segoe UI', sans-serif;
    border: 0px solid #ccc !important;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    font-size: 1.1rem !important;

}
.react-datepicker button {
    background-color:  #FFD700 !important;
}
.react-datepicker__header {
    background-color: #FFD700 !important;
    border-bottom: 0px solid #ddd !important;
    padding: 18px 0 !important;
}
.react-datepicker__day {
    width: 2.9rem !important;
    line-height: 2.9rem !important;
}
.react-datepicker__day-name {
    color: #ffe8c0 !important;
    width: 2.9rem !important;
    line-height: 2.9rem !important;
}

.react-datepicker__day-names {
    margin-top: 10px !important;

}

.react-datepicker__day--selected {
    background-color: #FFD700  !important;
    z-index: 999;
    color: white;
    border-radius: 50% !important;
}
.react-datepicker__navigation-icon::before {
    border-color: #ffffff !important;
}
.react-datepicker__day--keyboard-selected {
    background-color: #ffe8c0 !important;
    border-radius: 50% !important;
}

.react-datepicker__current-month {
    color: #ffffff !important;
    font-size: 1.4rem !important;
}
.react-datepicker__day:hover {
    background-color: #e0e0e0;
    border-radius: 50% !important;
}

.react-datepicker__week {
    padding: 10px 0 !important;
}


/* 폼 스타일 */

.info-form input[type="text"] {
    width: 400px;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.info-form input[type="text"]:focus {
    border-color: #FFD700;
    box-shadow: 0 0 5px #fff7c3;
}

.info-form label {
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
}


/* 반응형 */

@media screen and (max-width: 767px) {
    .waiting-title {
        font-weight: bold;
        font-size: 20px;
        text-align: left;
        color: #5D4037;
        margin-bottom: 20px;
    }
    .waiting-title-sub {
        color: #5D4037;
        font-size: 18px;
        font-weight: bold;
    }
    .point-font {
        font-size: 25px;
        font-weight: bold;
        color:  #FFD727;
    }

    section {
        padding: 10px 0;
    }

    .react-datepicker {
        font-size: 1rem !important;

    }

    .react-datepicker__day {
        width: 2.6rem !important;
        line-height: 2.2rem !important;
    }


/*    데이트피커 반응형 */
    .react-datepicker {
        font-family: 'Segoe UI', sans-serif;
        border: 0px solid #ccc !important;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.05);
        font-size: 1.1rem !important;

    }

    .react-datepicker__header {
        background-color: #FFD700 !important;
        border-bottom: 0px solid #ddd !important;
        padding: 15px 0 !important;
        width: 100%;
    }
    .react-datepicker__day {
        width: 2.3rem !important;
        line-height: 2.3rem !important;
    }
    .react-datepicker__day-name {
        color: #ffe8c0 !important;
        width: 2.2rem !important;
        line-height: 2.9rem !important;
    }

    .react-datepicker__day-names {
        margin-top: 10px !important;

    }

    .react-datepicker__day--selected {
        background-color: #FFD700  !important;
        z-index: 999;
        color: white;
        border-radius: 50% !important;
    }

    .react-datepicker__day--keyboard-selected {
        background-color: #ffe8c0 !important;
        border-radius: 50% !important;
    }


}


