<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team3_final_project_server.SimJiHyun.mapper.OwnerSjhMapper">
  <select id="getPastDateRes" resultType="com.example.team3_final_project_server.dto.ReservationDTO">
    select rs.user_idx, rs.rsv_date, rs.rsv_time, rs.rsv_people, rs.rsv_come_datetime, rs.rsv_cancel_datetime
    from user u join restaurant r join reservation rs
    on u.user_idx = r.user_idx and r.res_idx = rs.res_idx
    where r.user_idx = #{userIdx};
  </select>
</mapper>